<article class="post{% if forloop.first == true %} first{% endif %}">
  <figure class="image" style="background-image: url('{{ post.image }}')"></figure>
  <section class="content">
    <header>
<!--      <h4>{{ post.tags | first }}</h4>-->
      <h1><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h1>
    </header>
    <section class="body">
      {{ post.excerpt }}
      <p class="more"><a href="{{ post.url | relative_url }}">Read more</a></p>
    </section>
  </section>
</article>